# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# Envs
.venv/
venv/
ENV/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Logs & artifacts
*.log
mlruns/
artifacts/

# Data (keep raw/processed locally)
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

mlflow.db
*.pyc